<link rel="stylesheet" href="../styles/backup/card-presentation.css">
<link rel="stylesheet" href="../styles/colors-with-opacity.css">
<link rel="stylesheet" href="../styles/backup/image-presentation.css">

<img id="image1" class="ml-10rem" src="../img/image.jpg" alt="">
<img id="image2" class="m-10rem" src="../img/image.jpg" alt="">
<img id="image3" class="m-10rem" src="../img/image.jpg" alt="">
<img id="image4" class="m-10rem" src="../img/image.jpg" alt="">
<img id="image5" class="m-10rem" src="../img/image.jpg" alt="">
<img id="image6" class="m-10rem" src="../img/image.jpg" alt="">
<img id="image7" class="m-10rem" src="../img/image.jpg" alt="">
<img id="image8" class="m-10rem" src="../img/image.jpg" alt="">
<img id="image9" class="m-10rem" src="../img/image.jpg" alt="">
<img id="image10" class="m-10rem" src="../img/image.jpg" alt="">

<div class="card-container">
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-denim-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            denim-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-denim-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            denim-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-denim-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            denim-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-denim-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            denim-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-denim-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            denim-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-denim-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            denim-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-denim-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            denim-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-denim-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            denim-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-denim-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            denim-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-silver-tree-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            silver-tree-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-silver-tree-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            silver-tree-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-silver-tree-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            silver-tree-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-silver-tree-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            silver-tree-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-silver-tree-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            silver-tree-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-silver-tree-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            silver-tree-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-silver-tree-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            silver-tree-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-silver-tree-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            silver-tree-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-silver-tree-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            silver-tree-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-blaze-orange-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            blaze-orange-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-blaze-orange-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            blaze-orange-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-blaze-orange-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            blaze-orange-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-blaze-orange-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            blaze-orange-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-blaze-orange-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            blaze-orange-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-blaze-orange-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            blaze-orange-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-blaze-orange-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            blaze-orange-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-blaze-orange-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            blaze-orange-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-blaze-orange-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            blaze-orange-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-red-violet-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            red-violet-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-red-violet-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            red-violet-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-red-violet-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            red-violet-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-red-violet-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            red-violet-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-red-violet-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            red-violet-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-red-violet-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            red-violet-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-red-violet-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            red-violet-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-red-violet-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            red-violet-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-red-violet-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            red-violet-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-cerulean-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            cerulean-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-cerulean-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            cerulean-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-cerulean-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            cerulean-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-cerulean-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            cerulean-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-cerulean-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            cerulean-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-cerulean-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            cerulean-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-cerulean-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            cerulean-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-cerulean-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            cerulean-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-cerulean-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            cerulean-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            rubber-ducky-yellow-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            rubber-ducky-yellow-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            rubber-ducky-yellow-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            rubber-ducky-yellow-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            rubber-ducky-yellow-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            rubber-ducky-yellow-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            rubber-ducky-yellow-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            rubber-ducky-yellow-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            rubber-ducky-yellow-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-milano-red-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            milano-red-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-milano-red-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            milano-red-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-milano-red-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            milano-red-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-milano-red-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            milano-red-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-milano-red-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            milano-red-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-milano-red-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            milano-red-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-milano-red-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            milano-red-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-milano-red-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            milano-red-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-milano-red-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            milano-red-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-indigo-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            indigo-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-indigo-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            indigo-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-indigo-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            indigo-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-indigo-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            indigo-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-indigo-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            indigo-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-indigo-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            indigo-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-indigo-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            indigo-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-indigo-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            indigo-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-indigo-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            indigo-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-radioactive-green-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            radioactive-green-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-radioactive-green-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            radioactive-green-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-radioactive-green-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            radioactive-green-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-radioactive-green-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            radioactive-green-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-radioactive-green-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            radioactive-green-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-radioactive-green-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            radioactive-green-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-radioactive-green-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            radioactive-green-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-radioactive-green-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            radioactive-green-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-radioactive-green-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            radioactive-green-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-daffodil-darkness-1-op-1">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            daffodil-darkness-1-op-1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-daffodil-darkness-1-op-2">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            daffodil-darkness-1-op-2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-daffodil-darkness-1-op-3">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            daffodil-darkness-1-op-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-daffodil-darkness-1-op-4">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            daffodil-darkness-1-op-4
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-daffodil-darkness-1-op-5">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            daffodil-darkness-1-op-5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-daffodil-darkness-1-op-6">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            daffodil-darkness-1-op-6
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-daffodil-darkness-1-op-7">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            daffodil-darkness-1-op-7
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-daffodil-darkness-1-op-8">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            daffodil-darkness-1-op-8
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-side card-side--front bg-daffodil-darkness-1-op-9">
                    <!-- Front Content -->
                </div>
                <div class="card-side card-side--back bg-soft-white">
                    <!-- Back Content -->
                    <div class="card__cta">
                        <p class="soft-black text-center">
                            daffodil-darkness-1-op-9
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>