<link rel="stylesheet" href="../styles/backup/card-presentation.css">
<link rel="stylesheet" href="../styles/colors-with-tones.css">

<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-denim-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        denim-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-silver-tree-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        silver-tree-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-blaze-orange-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        blaze-orange-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-red-violet-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        red-violet-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-cerulean-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        cerulean-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-rubber-ducky-yellow-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        rubber-ducky-yellow-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-milano-red-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        milano-red-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-indigo-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        indigo-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-radioactive-green-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        radioactive-green-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-lightness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-lightness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-lightness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-lightness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-lightness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-lightness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-lightness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-lightness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-lightness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-lightness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-darkness-1">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-darkness-1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-darkness-2">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-darkness-2
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-darkness-3">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-darkness-3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-darkness-4">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-darkness-4
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-side card-side--front bg-daffodil-darkness-5">
                <!-- Front Content -->
            </div>
            <div class="card-side card-side--back bg-soft-white">
                <!-- Back Content -->
                <div class="card__cta">
                    <p class="soft-black text-center">
                        daffodil-darkness-5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>