<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/colors-with-tones.css">
    <link rel="stylesheet" href="../styles/backup/text-color-for-presentation.css">
    <title>colors-with-tones</title>
</head>

<body>
    <div class="bg-denim-lightness-5"><span class="text-on-color-dark">bg-denim-lightness-5</span></div>
    <div class="bg-denim-lightness-4"><span class="text-on-color-dark">bg-denim-lightness-4</span></div>
    <div class="bg-denim-lightness-3"><span class="text-on-color-dark">bg-denim-lightness-3</span></div>
    <div class="bg-denim-lightness-2"><span class="text-on-color-dark">bg-denim-ligthness-2</span></div>
    <div class="bg-denim-lightness-1"><span class="text-on-color-dark">bg-denim-lightness-1</span></div>
    <div class="bg-denim-darkness-1"><span class="text-on-color-light">bg-denim-darkness-1</span></div>
    <div class="bg-denim-darkness-2"><span class="text-on-color-light">bg-denim-darkness-2</span></div>
    <div class="bg-denim-darkness-3"><span class="text-on-color-light">bg-denim-darkness-3</span></div>
    <div class="bg-denim-darkness-4"><span class="text-on-color-light">bg-denim-darkness-4</span></div>
    <div class="bg-denim-darkness-5"><span class="text-on-color-light">bg-denim-darkness-5</span></div>
    <br>
    <div class="bg-silver-tree-lightness-5"><span class="text-on-color-dark">bg-silver-tree-lightness-5</span></div>
    <div class="bg-silver-tree-lightness-4"><span class="text-on-color-dark">bg-silver-tree-lightness-4</span></div>
    <div class="bg-silver-tree-lightness-3"><span class="text-on-color-dark">bg-silver-tree-lightness-3</span></div>
    <div class="bg-silver-tree-lightness-2"><span class="text-on-color-dark">bg-silver-tree-lightness-2</span></div>
    <div class="bg-silver-tree-lightness-1"><span class="text-on-color-dark">bg-silver-tree-lightness-1</span></div>
    <div class="bg-silver-tree-darkness-1"><span class="text-on-color-light">bg-silver-tree-darkness-1</span></div>
    <div class="bg-silver-tree-darkness-2"><span class="text-on-color-light">bg-silver-tree-darkness-2</span></div>
    <div class="bg-silver-tree-darkness-3"><span class="text-on-color-light">bg-silver-tree-darkness-3</span></div>
    <div class="bg-silver-tree-darkness-4"><span class="text-on-color-light">bg-silver-tree-darkness-4</span></div>
    <div class="bg-silver-tree-darkness-5"><span class="text-on-color-light">bg-silver-tree-darkness-5</span></div>
    <br>
    <div class="bg-blaze-orange-lightness-5"><span class="text-on-color-dark">bg-blaze-orange-lightness-5</span></div>
    <div class="bg-blaze-orange-lightness-4"><span class="text-on-color-dark">bg-blaze-orange-lightness-4</span></div>
    <div class="bg-blaze-orange-lightness-3"><span class="text-on-color-dark">bg-blaze-orange-lightness-3</span></div>
    <div class="bg-blaze-orange-lightness-2"><span class="text-on-color-dark">bg-blaze-orange-lightness-2</span></div>
    <div class="bg-blaze-orange-lightness-1"><span class="text-on-color-dark">bg-blaze-orange-lightness-1</span></div>
    <div class="bg-blaze-orange-darkness-1"><span class="text-on-color-light">bg-blaze-orange-darkness-1</span></div>
    <div class="bg-blaze-orange-darkness-2"><span class="text-on-color-light">bg-blaze-orange-darkness-2</span></div>
    <div class="bg-blaze-orange-darkness-3"><span class="text-on-color-light">bg-blaze-orange-darkness-3</span></div>
    <div class="bg-blaze-orange-darkness-4"><span class="text-on-color-light">bg-blaze-orange-darkness-4</span></div>
    <div class="bg-blaze-orange-darkness-5"><span class="text-on-color-light">bg-blaze-orange-darkness-5</span></div>
    <br>
    <div class="bg-red-violet-lightness-5"><span class="text-on-color-dark">bg-red-violet-lightness-5</span></div>
    <div class="bg-red-violet-lightness-4"><span class="text-on-color-dark">bg-red-violet-lightness-4</span></div>
    <div class="bg-red-violet-lightness-3"><span class="text-on-color-dark">bg-red-violet-lightness-3</span></div>
    <div class="bg-red-violet-lightness-2"><span class="text-on-color-dark">bg-red-violet-lightness-2</span></div>
    <div class="bg-red-violet-lightness-1"><span class="text-on-color-dark">bg-red-violet-lightness-1</span></div>
    <div class="bg-red-violet-darkness-1"><span class="text-on-color-light">bg-red-violet-darkness-1</span></div>
    <div class="bg-red-violet-darkness-2"><span class="text-on-color-light">bg-red-violet-darkness-2</span></div>
    <div class="bg-red-violet-darkness-3"><span class="text-on-color-light">bg-red-violet-darkness-3</span></div>
    <div class="bg-red-violet-darkness-4"><span class="text-on-color-light">bg-red-violet-darkness-4</span></div>
    <div class="bg-red-violet-darkness-5"><span class="text-on-color-light">bg-red-violet-darkness-5</span></div>
    <br>
    <div class="bg-cerulean-lightness-5"><span class="text-on-color-dark">bg-cerulean-lightness-5</span></div>
    <div class="bg-cerulean-lightness-4"><span class="text-on-color-dark">bg-cerulean-lightness-4</span></div>
    <div class="bg-cerulean-lightness-3"><span class="text-on-color-dark">bg-cerulean-lightness-3</span></div>
    <div class="bg-cerulean-lightness-2"><span class="text-on-color-dark">bg-cerulean-lightness-2</span></div>
    <div class="bg-cerulean-lightness-1"><span class="text-on-color-dark">bg-cerulean-lightness-1</span></div>
    <div class="bg-cerulean-darkness-1"><span class="text-on-color-light">bg-cerulean-darkness-1</span></div>
    <div class="bg-cerulean-darkness-2"><span class="text-on-color-light">bg-cerulean-darkness-2</span></div>
    <div class="bg-cerulean-darkness-3"><span class="text-on-color-light">bg-cerulean-darkness-3</span></div>
    <div class="bg-cerulean-darkness-4"><span class="text-on-color-light">bg-cerulean-darkness-4</span></div>
    <div class="bg-cerulean-darkness-5"><span class="text-on-color-light">bg-cerulean-darkness-5</span></div>
    <br>
    <div class="bg-rubber-ducky-yellow-lightness-5"><span class="text-on-color-dark">bg-rubber-ducky-yellow-lightness-5</span></div>
    <div class="bg-rubber-ducky-yellow-lightness-4"><span class="text-on-color-dark">bg-rubber-ducky-yellow-lightness-4</span></div>
    <div class="bg-rubber-ducky-yellow-lightness-3"><span class="text-on-color-dark">bg-rubber-ducky-yellow-lightness-3</span></div>
    <div class="bg-rubber-ducky-yellow-lightness-2"><span class="text-on-color-dark">bg-rubber-ducky-yellow-lightness-2</span></div>
    <div class="bg-rubber-ducky-yellow-lightness-1"><span class="text-on-color-dark">bg-rubber-ducky-yellow-lightness-1</span></div>
    <div class="bg-rubber-ducky-yellow-darkness-1"><span class="text-on-color-light">bg-rubber-ducky-yellow-darkness-1</span></div>
    <div class="bg-rubber-ducky-yellow-darkness-2"><span class="text-on-color-light">bg-rubber-ducky-yellow-darkness-2</span></div>
    <div class="bg-rubber-ducky-yellow-darkness-3"><span class="text-on-color-light">bg-rubber-ducky-yellow-darkness-3</span></div>
    <div class="bg-rubber-ducky-yellow-darkness-4"><span class="text-on-color-light">bg-rubber-ducky-yellow-darkness-4</span></div>
    <div class="bg-rubber-ducky-yellow-darkness-5"><span class="text-on-color-light">bg-rubber-ducky-yellow-darkness-5</span></div>
    <br>
    <div class="bg-milano-red-lightness-5"><span class="text-on-color-dark">bg-milano-red-lightness-5</span></div>
    <div class="bg-milano-red-lightness-4"><span class="text-on-color-dark">bg-milano-red-lightness-4</span></div>
    <div class="bg-milano-red-lightness-3"><span class="text-on-color-dark">bg-milano-red-lightness-3</span></div>
    <div class="bg-milano-red-lightness-2"><span class="text-on-color-dark">bg-milano-red-lightness-</span></div>
    <div class="bg-milano-red-lightness-1"><span class="text-on-color-dark">bg-milano-red-lightness-1</span></div>
    <div class="bg-milano-red-darkness-1"><span class="text-on-color-light">bg-milano-red-darkness-1</span></div>
    <div class="bg-milano-red-darkness-2"><span class="text-on-color-light">bg-milano-red-darkness-2</span></div>
    <div class="bg-milano-red-darkness-3"><span class="text-on-color-light">bg-milano-red-darkness-3</span></div>
    <div class="bg-milano-red-darkness-4"><span class="text-on-color-light">bg-milano-red-darkness-4</span></div>
    <div class="bg-milano-red-darkness-5"><span class="text-on-color-light">bg-milano-red-darkness-5</span></div>

</body>

</html>