<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/colors-with-opacity.css">
    <link rel="stylesheet" href="../styles/backup/image-presentation.css">
    <link rel="stylesheet" href="../styles/backup/text-color-for-presentation.css">
    <title>colors-with-opacity</title>
</head>
<style>
    body {
        margin: 0;
    }
    
    div {
        margin: 0;
    }
</style>

<body>
    <img id="image1" src="../img/image.jpg" alt="">
    <img id="image2" src="../img/image.jpg" alt="">
    <img id="image3" src="../img/image.jpg" alt="">
    <img id="image4" src="../img/image.jpg" alt="">

    <div class="container">
        <div id="box" class="bg-denim-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-denim-darkness-1-op-5</span></div>
        <div id="box" class="bg-denim-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-denim-darkness-1-op-5</span></div>
        <div id="box" class="bg-denim-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-denim-darkness-1-op-5</span></div>
        <div id="box" class="bg-denim-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-denim-darkness-1-op-5</span></div>
        <div id="box" class="bg-denim-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-denim-darkness-1-op-5</span></div>
        <div id="box" class="bg-denim-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-denim-darkness-1-op-6</span></div>
        <div id="box" class="bg-denim-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-denim-darkness-1-op-6</span></div>
        <div id="box" class="bg-denim-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-denim-darkness-1-op-6</span></div>
        <div id="box" class="bg-denim-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-denim-darkness-1-op-6</span></div>
    </div>
    <div class="container">
        <div id="box" class="bg-silver-tree-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-silver-tree-darkness-1-op-1</span></div>
        <div id="box" class="bg-silver-tree-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-silver-tree-darkness-1-op-2</span></div>
        <div id="box" class="bg-silver-tree-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-silver-tree-darkness-1-op-3</span></div>
        <div id="box" class="bg-silver-tree-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-silver-tree-darkness-1-op-4</span></div>
        <div id="box" class="bg-silver-tree-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-silver-tree-darkness-1-op-5</span></div>
        <div id="box" class="bg-silver-tree-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-silver-tree-darkness-1-op-6</span></div>
        <div id="box" class="bg-silver-tree-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-silver-tree-darkness-1-op-7</span></div>
        <div id="box" class="bg-silver-tree-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-silver-tree-darkness-1-op-8</span></div>
        <div id="box" class="bg-silver-tree-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-silver-tree-darkness-1-op-9</span></div>
    </div>
    <div class="container">
        <div id="box" class="bg-blaze-orange-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-blaze-orange-darkness-1-op-1</span></div>
        <div id="box" class="bg-blaze-orange-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-blaze-orange-darkness-1-op-2</span></div>
        <div id="box" class="bg-blaze-orange-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-blaze-orange-darkness-1-op-3</span></div>
        <div id="box" class="bg-blaze-orange-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-blaze-orange-darkness-1-op-4</span></div>
        <div id="box" class="bg-blaze-orange-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-blaze-orange-darkness-1-op-5</span></div>
        <div id="box" class="bg-blaze-orange-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-blaze-orange-darkness-1-op-6</span></div>
        <div id="box" class="bg-blaze-orange-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-blaze-orange-darkness-1-op-7</span></div>
        <div id="box" class="bg-blaze-orange-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-blaze-orange-darkness-1-op-8</span></div>
        <div id="box" class="bg-blaze-orange-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-blaze-orange-darkness-1-op-9</span></div>
    </div>
    <div class="container">
        <div id="box" class="bg-red-violet-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-red-violet-darkness-1-op-1</span></div>
        <div id="box" class="bg-red-violet-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-red-violet-darkness-1-op-2</span></div>
        <div id="box" class="bg-red-violet-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-red-violet-darkness-1-op-3</span></div>
        <div id="box" class="bg-red-violet-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-red-violet-darkness-1-op-4</span></div>
        <div id="box" class="bg-red-violet-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-red-violet-darkness-1-op-5</span></div>
        <div id="box" class="bg-red-violet-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-red-violet-darkness-1-op-6</span></div>
        <div id="box" class="bg-red-violet-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-red-violet-darkness-1-op-7</span></div>
        <div id="box" class="bg-red-violet-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-red-violet-darkness-1-op-8</span></div>
        <div id="box" class="bg-red-violet-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-red-violet-darkness-1-op-9</span></div>
    </div>
    <div class="container">
        <div id="box" class="bg-cerulean-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-cerulean-darkness-1-op-1</span></div>
        <div id="box" class="bg-cerulean-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-cerulean-darkness-1-op-2</span></div>
        <div id="box" class="bg-cerulean-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-cerulean-darkness-1-op-3</span></div>
        <div id="box" class="bg-cerulean-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-cerulean-darkness-1-op-4</span></div>
        <div id="box" class="bg-cerulean-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-cerulean-darkness-1-op-5</span></div>
        <div id="box" class="bg-cerulean-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-cerulean-darkness-1-op-6</span></div>
        <div id="box" class="bg-cerulean-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-cerulean-darkness-1-op-7</span></div>
        <div id="box" class="bg-cerulean-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-cerulean-darkness-1-op-8</span></div>
        <div id="box" class="bg-cerulean-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-cerulean-darkness-1-op-9</span></div>
    </div>
    <div class="container">
        <div id="box" class="bg-rubber-ducky-yellow-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-rubber-ducky-yellow-darkness-1-op-1</span></div>
        <div id="box" class="bg-rubber-ducky-yellow-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-rubber-ducky-yellow-darkness-1-op-2</span></div>
        <div id="box" class="bg-rubber-ducky-yellow-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-rubber-ducky-yellow-darkness-1-op-3</span></div>
        <div id="box" class="bg-rubber-ducky-yellow-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-rubber-ducky-yellow-darkness-1-op-4</span></div>
        <div id="box" class="bg-rubber-ducky-yellow-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-rubber-ducky-yellow-darkness-1-op-5</span></div>
        <div id="box" class="bg-rubber-ducky-yellow-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-rubber-ducky-yellow-darkness-1-op-6</span></div>
        <div id="box" class="bg-rubber-ducky-yellow-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-rubber-ducky-yellow-darkness-1-op-7</span></div>
        <div id="box" class="bg-rubber-ducky-yellow-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-rubber-ducky-yellow-darkness-1-op-8</span></div>
        <div id="box" class="bg-rubber-ducky-yellow-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-rubber-ducky-yellow-darkness-1-op-9</span></div>
    </div>
    <div class="container">
        <div id="box" class="bg-milano-red-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-milano-red-darkness-1-op-1</span></div>
        <div id="box" class="bg-milano-red-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-milano-red-darkness-1-op-2</span></div>
        <div id="box" class="bg-milano-red-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-milano-red-darkness-1-op-3</span></div>
        <div id="box" class="bg-milano-red-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-milano-red-darkness-1-op-4</span></div>
        <div id="box" class="bg-milano-red-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-milano-red-darkness-1-op-5</span></div>
        <div id="box" class="bg-milano-red-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-milano-red-darkness-1-op-6</span></div>
        <div id="box" class="bg-milano-red-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-milano-red-darkness-1-op-7</span></div>
        <div id="box" class="bg-milano-red-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-milano-red-darkness-1-op-8</span></div>
        <div id="box" class="bg-milano-red-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-milano-red-darkness-1-op-9</span></div>
    </div>
    <div class="container">
        <div id="box" class="bg-indigo-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-indigo-darkness-1-op-1</span></div>
        <div id="box" class="bg-indigo-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-indigo-darkness-1-op-2</span></div>
        <div id="box" class="bg-indigo-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-indigo-darkness-1-op-3</span></div>
        <div id="box" class="bg-indigo-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-indigo-darkness-1-op-4</span></div>
        <div id="box" class="bg-indigo-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-indigo-darkness-1-op-5</span></div>
        <div id="box" class="bg-indigo-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-indigo-darkness-1-op-6</span></div>
        <div id="box" class="bg-indigo-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-indigo-darkness-1-op-7</span></div>
        <div id="box" class="bg-indigo-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-indigo-darkness-1-op-8</span></div>
        <div id="box" class="bg-indigo-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-indigo-darkness-1-op-9</span></div>
    </div>
    <div class="container">
        <div id="box" class="bg-radioactive-green-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-radioactive-green-darkness-1-op-1</span></div>
        <div id="box" class="bg-radioactive-green-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-radioactive-green-darkness-1-op-2</span></div>
        <div id="box" class="bg-radioactive-green-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-radioactive-green-darkness-1-op-3</span></div>
        <div id="box" class="bg-radioactive-green-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-radioactive-green-darkness-1-op-4</span></div>
        <div id="box" class="bg-radioactive-green-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-radioactive-green-darkness-1-op-5</span></div>
        <div id="box" class="bg-radioactive-green-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-radioactive-green-darkness-1-op-6</span></div>
        <div id="box" class="bg-radioactive-green-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-radioactive-green-darkness-1-op-7</span></div>
        <div id="box" class="bg-radioactive-green-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-radioactive-green-darkness-1-op-8</span></div>
        <div id="box" class="bg-radioactive-green-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-radioactive-green-darkness-1-op-9</span></div>
    </div>
    <div class="container">
        <div id="box" class="bg-daffodil-darkness-1-op-1"><span class="text-on-color-dark text-position-0">bg-daffodil-darkness-1-op-1</span></div>
        <div id="box" class="bg-daffodil-darkness-1-op-2"><span class="text-on-color-dark text-position-0">bg-daffodil-darkness-1-op-2</span></div>
        <div id="box" class="bg-daffodil-darkness-1-op-3"><span class="text-on-color-dark text-position-0">bg-daffodil-darkness-1-op-3</span></div>
        <div id="box" class="bg-daffodil-darkness-1-op-4"><span class="text-on-color-dark text-position-0">bg-daffodil-darkness-1-op-4</span></div>
        <div id="box" class="bg-daffodil-darkness-1-op-5"><span class="text-on-color-dark text-position-0">bg-daffodil-darkness-1-op-5</span></div>
        <div id="box" class="bg-daffodil-darkness-1-op-6"><span class="text-on-color-dark text-position-0">bg-daffodil-darkness-1-op-6</span></div>
        <div id="box" class="bg-daffodil-darkness-1-op-7"><span class="text-on-color-dark text-position-0">bg-daffodil-darkness-1-op-7</span></div>
        <div id="box" class="bg-daffodil-darkness-1-op-8"><span class="text-on-color-dark text-position-0">bg-daffodil-darkness-1-op-8</span></div>
        <div id="box" class="bg-daffodil-darkness-1-op-9"><span class="text-on-color-dark text-position-0">bg-daffodil-darkness-1-op-9</span></div>
    </div>

</body>

</html>