<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/group-colors.css">
    <link rel="stylesheet" href="../styles/backup/box-presentation.css">
    <link rel="stylesheet" href="../styles/backup/text-color-for-presentation.css">
    <title>group-colors</title>
</head>

<body>
    <div class="container">
        <div id="box" class="bg-travel-congress-blue"><span class="text-on-color-dark text-position-0">bg-travel-congress-blue</span></div>
        <div id="box" class="bg-travel-crocodile"><span class="text-on-color-dark text-position-0">bg-travel-crocodile</span></div>
        <div id="box" class="bg-travel-yellow-orange"><span class="text-on-color-dark text-position-0">bg-travel-yellow-orange</span></div>
        <div id="box" class="bg-travel-orange-peel"><span class="text-on-color-dark text-position-0">bg-travel-orange-peel</span></div>
        <div id="box" class="bg-travel-gold-drop"><span class="text-on-color-dark text-position-0">bg-travel-gold-drop</span></div>
    </div>
    <br>
    <div class="container">
        <div id="box" class="bg-island-teal-blue"><span class="text-on-color-dark text-position-0">bg-island-teal-blue</span></div>
        <div id="box" class="bg-island-dark-turquoise"><span class="text-on-color-dark text-position-0">bg-island-dark-turquoise</span></div>
        <div id="box" class="bg-island-bile"><span class="text-on-color-dark text-position-0">bg-island-bile</span></div>
        <div id="box" class="bg-island-venom-green"><span class="text-on-color-dark text-position-0">bg-island-venom-green</span></div>
        <div id="box" class="bg-island-pale-spring-bud"><span class="text-on-color-dark text-position-0">bg-island-pale-spring-bud</span></div>
    </div>
    <br>
    <div class="container">
        <div id="box" class="bg-yellow-taxi-grey-cloud"><span class="text-on-color-dark text-position-0">bg-yellow-taxi-grey-cloud</span></div>
        <div id="box" class="bg-yellow-taxi-dusty-blue"><span class="text-on-color-dark text-position-0">bg-yellow-taxi-dusty-blue</span></div>
        <div id="box" class="bg-yellow-taxi-amber"><span class="text-on-color-dark text-position-0">bg-yellow-taxi-amber</span></div>
        <div id="box" class="bg-yellow-taxi-storm-dust"><span class="text-on-color-dark text-position-0">bg-yellow-taxi-storm-dust</span></div>
        <div id="box" class="bg-yellow-taxi-gun-smoke"><span class="text-on-color-dark text-position-0">bg-yellow-taxi-gun-smoke</span></div>
    </div>
    <br>
    <div class="container">
        <div id="box" class="bg-rainforest-fruit-petite-orchid"><span class="text-on-color-dark text-position-0">bg-rainforest-fruit-petite-orchid</span></div>
        <div id="box" class="bg-rainforest-fruit-reef"><span class="text-on-color-dark text-position-0">bg-rainforest-fruit-reef</span></div>
        <div id="box" class="bg-rainforest-fruit-periwinkle"><span class="text-on-color-dark text-position-0">bg-rainforest-fruit-periwinkle</span></div>
        <div id="box" class="bg-rainforest-fruit-australian-mint"><span class="text-on-color-dark text-position-0">bg-rainforest-fruit-australian-mint</span></div>
        <div id="box" class="bg-rainforest-fruit-melrose"><span class="text-on-color-dark text-position-0">bg-rainforest-fruit-melrose</span></div>
    </div>
    <br>
    <div class="container">
        <div id="box" class="bg-lazer-blueberry-persian-blue"><span class="text-on-color-light text-position-0">bg-lazer-blueberry-persian-blue</span></div>
        <div id="box" class="bg-lazer-blueberry-denim-dark-blue"><span class="text-on-color-light text-position-0">bg-lazer-blueberry-denim-dark-blue</span></div>
        <div id="box" class="bg-lazer-blueberry-deep-sapphire"><span class="text-on-color-light text-position-0">bg-lazer-blueberry-deep-sapphire</span></div>
        <div id="box" class="bg-lazer-blueberry-deep-cove"><span class="text-on-color-light text-position-0">bg-lazer-blueberry-deep-cove</span></div>
        <div id="box" class="bg-lazer-blueberry-blue-charcoal"><span class="text-on-color-light text-position-0">bg-lazer-blueberry-blue-charcoa</span></div>
    </div>
    <br>

</body>

</html>